# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# AI models
model/
models/

# Vector database
chroma_db/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Temporary files
tmp/
temp/

# Hugging Face cache
.cache/
huggingface/

# PyTorch
*.pt
*.pth

# Dataset exports
*.csv
*.xlsx

# Build files
build/
dist/
